In [34]:
import pymysql
import pandas as pd

In [35]:
conn = pymysql.connect(
    host='',
    user='', password='',
    database=''
)
print('db connected')

db connected

In [3]:
Reviews = pd.read_sql_query('SELECT * FROM Reviews', conn)
print('Reviews load')

Reviews load

In [4]:
Reviews


#결과적으로 , 이 리뷰 테이블, 모든 Reiview Id에  Score을 넣는 형식으로

#최신성: createdAt (게시글 발행 시점)

,id,content,summary,wouldVisitAgain,authorId,mentioningReviewId,restaurantId,menus,status,published,createdAt,updatedAt
0,2,일단 이모들이 너무 친절하고 에너지 넘쳐요!\n반찬은 대체적으로 짠 편이에요ㅜ\n생...,None,0,3.0,NaN,385515,맛있는생선구이백반,PUBLIC,1,2020-11-25 21:23:26,2020-11-27 20:36:12
1,3,항상 싸고 맛있게 먹을 수 있다. 다른데가 물가오르면서 다 메뉴가격을 올린반면에 길...,None,0,1.0,NaN,514251,길낙지볶음,PUBLIC,1,2020-11-25 21:23:44,2020-11-25 21:28:18
2,4,강원대 체육관 쪽문으로 내려오면 바로 보여요!\n일단 양이 엄~청 많아요!\n게다가...,None,0,3.0,NaN,341523,"짜장면,짬뽕,미니탕수육",PUBLIC,1,2020-11-25 21:49:39,2020-11-25 21:53:47
3,6,,None,0,NaN,NaN,341523,None,PRIVATE,0,2020-11-25 22:18:01,2020-11-25 22:18:01
4,9,투썸은 조각케잌 필수인거 다들 아시죠?!!\n제 최애는 티라미수에요\n먹을때마다 기...,None,0,6.0,NaN,314108,"티라미수,아메리카노",PUBLIC,1,2020-11-25 22:23:16,2020-11-25 22:25:07
...,...,...,...,...,...,...,...,...,...,...,...,...
6755,8341,조금씩 자주 먹는 걸 좋아하신다면 이곳을 추천드려요!\n저는 한번에 많이 먹는 것보...,따뜻한 공간에서 여유로운 한 끼,1,845.0,NaN,530178,None,PUBLIC,1,2021-10-02 18:48:07,2021-10-02 19:56:21
6756,8342,우선 가게의 공간이 넓고 창이 커서 트여있다는 느낌이었어요!\n\n바닐라라떼만 2년...,알고보니 크로플 맛집 🥐,0,845.0,NaN,854644,None,PUBLIC,1,2021-10-02 20:34:53,2021-10-03 01:56:18
6757,8343,"루프탑이 있어 바람 쐬기 좋은 카페""|""관광지답게 커피값은 비싼 편""|""소양댐 보러...",맑은 날씨를 누리기 좋은 루프탑 카페,1,933.0,NaN,560682,None,PUBLIC,1,2021-10-03 20:08:19,2021-10-03 20:08:19
6758,8347,"육질, 두께, 껍데기 모두 정말 완벽..맛있어용\n김치찌개+라면사리는 꼭 시키세요 ...",최애 돼지고기집,1,867.0,NaN,854652,None,PUBLIC,1,2021-10-05 12:48:22,2021-10-05 21:48:40
6759,8348,감성있다..\n휘향찬란한 감성이 아니고 딱 적절한 감성으로 도배되어있다는..\n식사...,감성 브이로그 특 바질+파스타 좋아함,1,485.0,NaN,557049,None,PUBLIC,1,2021-10-05 17:40:27,2021-10-05 17:40:27

In [32]:
ReviewLikes = pd.read_sql_query('SELECT * FROM ReviewLikes', conn)
print('ReviewLikes load')
ReviewComments = pd.read_sql_query('SELECT * FROM ReviewComments', conn)
print('ReviewComments load')
ReviewCommentLikes = pd.read_sql_query('SELECT * FROM ReviewCommentLikes', conn)
print('ReviewCommentLikes load')

ReviewLikes load
ReviewComments load
ReviewCommentLikes load

In [8]:
ReviewLikes

#senderId: review에 좋아요를 누른 User ID

#대중성-좋아요수:
#review에 좋아요를 누른 갯수


#친밀성-좋아요
#게시글 작성자(reviewId를 쓴 UserID) / 사용자(senderID)

#1. 사용자 측면
#사용자(senderID)가 한 작성자(UserID)의 reviewId 좋아요 갯수
#2. 작성자 측면
#작성자가 한 사용자의 reviewID 좋아요 개수

      reviewId  senderId           createdAt           updatedAt
0            2         1 2020-11-26 19:53:11 2020-11-26 19:53:11
1            2         3 2020-11-26 20:05:50 2020-11-26 20:05:50
2            2         4 2020-11-25 22:04:18 2020-11-25 22:04:18
3            2        63 2020-12-09 00:49:09 2020-12-09 00:49:09
4            2        85 2020-12-10 04:25:24 2020-12-10 04:25:24
...        ...       ...                 ...                 ...
5784      8348         9 2021-10-05 17:53:38 2021-10-05 17:53:38
5785      8348        62 2021-10-06 09:38:36 2021-10-06 09:38:36
5786      8348       835 2021-10-06 16:34:49 2021-10-06 16:34:49
5787      8348       845 2021-10-05 20:51:48 2021-10-05 20:51:48
5788      8348       867 2021-10-05 21:53:49 2021-10-05 21:53:49

[5789 rows x 4 columns]

In [29]:
pd.set_option('display.max_row', None)

In [ ]:
ReviewComments

#parentId: Nan -> 본 댓글 
#parentId: 숫자 -> 숫자에 대한 대댓글
#숫자= id
#id는 comment에 부여된 id이다


#authorId: 댓글 쓴 User ID


# 대중성-댓글수:
# 각 reviewID에 달린 댓글 갯수  (reviewId, 각 reviewID 당 id 개수)


#친밀성-댓글:

#게시글 작성자(reviewId를 쓴 UserID) / 사용자(senderID)

#1. 사용자 측면
#사용자(authorId)가 한 작성자(UserID)의 reviewId 댓글(본댓글&대댓글) 갯수
#2. 작성자 측면
#작성자(authorId)가 한 사용자의 reviewID 댓글 개수

In [ ]:
#댓글 좋아요는  나중에 추가하자
#친밀성은 가장 배점이 낮은 고려사항이니


ReviewCommentLikes

#댓글 좋아요 

#reviewCommentId: 댓글 ID 
#senderId : 댓글 좋아요 누른 UserID

# 친밀성 - 댓글 좋아요

In [24]:
UserFollows = pd.read_sql_query('SELECT * FROM UserFollows', conn)
print('UserFollows load')
Users = pd.read_sql_query('SELECT * FROM Users', conn)
print('Users load')

UserFollows load
Users load

In [ ]:
UserFollows

#followingId: 팔로잉 한 사람,(능동)
#followerId: 팔로잉 당한 사람, (수동)


#대중성:
#생산자(UserID -> followerId)일때  팔로워 수(followingId의 개수)

#친밀성:
# 사용자의 followingId가 작성자의 UserID일때  score 아주 크게

In [ ]:
Users

In [36]:
BookmarkReviews = pd.read_sql_query('SELECT * FROM BookmarkReviews', conn)
print('BookmarkReviews load')

BookmarkReviews load

In [ ]:
BookmarkReviews
#bookmarkId 북마크 한 사람의 UserID

#친밀성